@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #ffffff;
  --bg-color: #000000;
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  scrollbar-gutter: unset;
  font-family: var(--inter-fonts);
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow-x: hidden;
  scroll-behavior: smooth !important;
  --webkit-scroll-behavior: smooth !important;
  --webkit-font-smoothing: antialiased;
}

h2 {
  position: relative;
  width: fit-content;
  &::before {
    content: "";
    position: absolute;
    height: 0.2px;
    width: 100rem;
    background-color: white;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
  }
}
